<?xml version="1.0" encoding="utf-8"?>
<UserOptions xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <LastVersion>15.1</LastVersion>
  <ShowTdNetWarning>true</ShowTdNetWarning>
  <OdbcConnectTimeout>60</OdbcConnectTimeout>
  <OptionsTab>4</OptionsTab>
  <TabbedMDI>true</TabbedMDI>
  <TabGroupVertical>false</TabGroupVertical>
  <TileWindows>true</TileWindows>
  <TileVertical>false</TileVertical>
  <WindowState>Maximized</WindowState>
  <WindowSize>
    <Width>1291</Width>
    <Height>700</Height>
  </WindowSize>
  <WindowLocation>
    <X>2292</X>
    <Y>196</Y>
  </WindowLocation>
  <ShowDBTree>true</ShowDBTree>
  <ShowHistory>true</ShowHistory>
  <ShowTimeSecs>false</ShowTimeSecs>
  <QBuilderSize>
    <Width>1031</Width>
    <Height>589</Height>
  </QBuilderSize>
  <QBuilderSet>2</QBuilderSet>
  <FavoriteSet>Favorites</FavoriteSet>
  <Provider>Td</Provider>
  <Language>Teradata</Language>
  <LastDSN>TDTEST</LastDSN>
  <LastTdDSN>TDTEST</LastTdDSN>
  <LastOraDSN />
  <ANSISQL>false</ANSISQL>
  <AnsFindList />
  <HistFindList>update	set</HistFindList>
  <QryFindList></QryFindList>
  <QryReplaceList></QryReplaceList>
  <AnsFindAllCols>false</AnsFindAllCols>
  <HistFindAllCols>false</HistFindAllCols>
  <AnsTabGroup>1</AnsTabGroup>
  <HistTabGroup>0</HistTabGroup>
  <QueryFontName>Consolas</QueryFontName>
  <QueryFontSize>9.75</QueryFontSize>
  <AnswerFontName>Consolas</AnswerFontName>
  <AnswerFontSize>9</AnswerFontSize>
  <HistoryFontName>Microsoft Sans Serif</HistoryFontName>
  <HistoryFontSize>8</HistoryFontSize>
  <SaveTextType>1</SaveTextType>
  <SaveGridType>8</SaveGridType>
  <SaveChartType>1</SaveChartType>
  <ExportFileType>3</ExportFileType>
  <RecentQueryFiles></RecentQueryFiles>
  <ClobWriteBOM>false</ClobWriteBOM>
  <ClobIsUnicode>false</ClobIsUnicode>
  <AllowMultiConnect>false</AllowMultiConnect>
  <SingleQuery>false</SingleQuery>
  <PrintSQL>false</PrintSQL>
  <ScreenReader>false</ScreenReader>
  <AnswerMode>1</AnswerMode>
  <AppStyle>SystemDefault</AppStyle>
  <BaseFontSize>8</BaseFontSize>
  <AutoSyntax>true</AutoSyntax>
  <AutoOutline>true</AutoOutline>
  <Uppercase>false</Uppercase>
  <ShowLineNo>true</ShowLineNo>
  <ShowMargin>false</ShowMargin>
  <ShowBraceMatch>true</ShowBraceMatch>
  <ShowWhiteSpace>false</ShowWhiteSpace>
  <ExpandTabs>true</ExpandTabs>
  <AutoIndent>true</AutoIndent>
  <Intellisense>false</Intellisense>
  <IncludeFunctions>false</IncludeFunctions>
  <IncludeTables>true</IncludeTables>
  <QuickInfoTips>false</QuickInfoTips>
  <LineSize>60</LineSize>
  <TabSize>4</TabSize>
  <ColorBack>-14077644</ColorBack>
  <ColorRunning>-13682372</ColorRunning>
  <ColorBookmark>-10185235</ColorBookmark>
  <ColorBraceMatch>-13682372</ColorBraceMatch>
  <ColorChanged>-8323200</ColorChanged>
  <ColorCollapsed>-8355712</ColorCollapsed>
  <ColorCurrentLine>-13682372</ColorCurrentLine>
  <ColorLineNum>-8355712</ColorLineNum>
  <ColorMargin>-13682372</ColorMargin>
  <ColorOutline>-8355712</ColorOutline>
  <ColorSyntax>-65281</ColorSyntax>
  <ColorComment>-8355712</ColorComment>
  <ColorDataType>-16711681</ColorDataType>
  <ColorFunction>-4144897</ColorFunction>
  <ColorKeyword>-7092381</ColorKeyword>
  <ColorName>-2039584</ColorName>
  <ColorNumber>-10496</ColorNumber>
  <ColorOperator>-128</ColorOperator>
  <ColorParam>-7092381</ColorParam>
  <ColorString>-32768</ColorString>
  <ColorOther>-1</ColorOther>
  <StyleParam>1</StyleParam>
  <StyleComment>2</StyleComment>
  <StyleDataType>0</StyleDataType>
  <StyleFunction>1</StyleFunction>
  <StyleKeyword>1</StyleKeyword>
  <StyleName>0</StyleName>
  <StyleNumber>0</StyleNumber>
  <StyleOperator>0</StyleOperator>
  <StyleString>0</StyleString>
  <StyleOther>0</StyleOther>
  <ColorExpStmtType>-65281</ColorExpStmtType>
  <ColorExpName>-1</ColorExpName>
  <ColorExpWarning>-65536</ColorExpWarning>
  <ColorExpKeyword>-16711936</ColorExpKeyword>
  <TabColorComplete>-9511826</TabColorComplete>
  <TempTableColor>-16776961</TempTableColor>
  <ColorEditAdd>-657956</ColorEditAdd>
  <ColorEditChanged>-3996</ColorEditChanged>
  <DashesInBinary>true</DashesInBinary>
  <Dec16AsStr>false</Dec16AsStr>
  <NullString>&lt;null&gt;</NullString>
  <DateFormat />
  <NumDecimals>14</NumDecimals>
  <BinAsBlobSize>16384</BinAsBlobSize>
  <CharAsClobSize>32768</CharAsClobSize>
  <AutoCloseAns>false</AutoCloseAns>
  <DisconnectedMode>false</DisconnectedMode>
  <Audible>false</Audible>
  <MinOnRun>false</MinOnRun>
  <PromptNotes>false</PromptNotes>
  <StopOnError>true</StopOnError>
  <RunSelectedOnly>true</RunSelectedOnly>
  <SaveQueryLog>false</SaveQueryLog>
  <AllowNamedParms>true</AllowNamedParms>
  <PromptToSave>false</PromptToSave>
  <ParserLimit>200000</ParserLimit>
  <ParserOff>900000</ParserOff>
  <UseAltColor>true</UseAltColor>
  <AltRowColor>-2097216</AltRowColor>
  <MoveMode>false</MoveMode>
  <Gridlines>true</Gridlines>
  <ShowThousandSep>true</ShowThousandSep>
  <NegativeRed>true</NegativeRed>
  <DisplayTitles>true</DisplayTitles>
  <WrapHeaders>false</WrapHeaders>
  <UseScientific>false</UseScientific>
  <NoPromptLob>false</NoPromptLob>
  <DefBlobType>jpg</DefBlobType>
  <MaxAnswerRows>500</MaxAnswerRows>
  <ColWidthRowLimit>500</ColWidthRowLimit>
  <ColumnDelimiter>	</ColumnDelimiter>
  <ColumnQuote />
  <ExportOneFile>true</ExportOneFile>
  <ExportWriteSQL>true</ExportWriteSQL>
  <ExportWriteHead>true</ExportWriteHead>
  <ExportWriteBOM>true</ExportWriteBOM>
  <ExportRowNum>true</ExportRowNum>
  <RemoveCrLf>false</RemoveCrLf>
  <LimitExports>false</LimitExports>
  <ImportSkipHeader>false</ImportSkipHeader>
  <ImportConvert>false</ImportConvert>
  <ImportBatchSize>1000</ImportBatchSize>
  <ImportIgnoreError>false</ImportIgnoreError>
  <HistoryUpdate>true</HistoryUpdate>
  <HistorySaveQry>false</HistorySaveQry>
  <HistoryNoDups>true</HistoryNoDups>
  <HistoryMillisecs>true</HistoryMillisecs>
  <HistoryColOrder>0,1,2,3,4,5,6,7,8,9,10,11,12,13,14</HistoryColOrder>
  <HistoryFilter />
  <HistorySQLTips>true</HistorySQLTips>
  <HistorySQLNoCR>true</HistorySQLNoCR>
  <HistoryNoClose>false</HistoryNoClose>
  <MaskPassword>true</MaskPassword>
  <LoadDBTreeAll>true</LoadDBTreeAll>
  <DBTreeSource>DBC.DatabasesVX</DBTreeSource>
  <ExcludeUsers>true</ExcludeUsers>
  <SaveTreeData>true</SaveTreeData>
  <UseFastSchema>true</UseFastSchema>
  <QualifyNames>false</QualifyNames>
  <QuoteNames>false</QuoteNames>
  <UseCatalog>false</UseCatalog>
  <ShowTriggers>false</ShowTriggers>
  <QueryFilePath></QueryFilePath>
  <AnswerFilePath></AnswerFilePath>
  <ImportLOBPath></ImportLOBPath>
  <HistoryFilePath>C</HistoryFilePath>
  <PageTop>70</PageTop>
  <PageLeft>70</PageLeft>
  <PageBottom>30</PageBottom>
  <PageRight>40</PageRight>
  <PageColor>false</PageColor>
  <PageSize>Letter</PageSize>
  <PageOrient>2</PageOrient>
  <PageBorder>false</PageBorder>
  <PageZoom>100</PageZoom>
</UserOptions>